.cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;            /* mobily */
}

.cards__toolbar {
  text-align: end; 
  margin-bottom: .8rem; 
  display: flex;
  justify-content: center;
  gap: .8rem;
}



@media (min-width: 680px) {
  .cards { grid-template-columns: repeat(2, minmax(0, 1fr)); }  /* tablet */
}
@media (min-width: 1024px) {
  .cards { grid-template-columns: repeat(3, minmax(0, 1fr)); }  /* desktop 3×3 */
}