.header {
  display: flex;
  justify-content: center;
  padding-bottom: 0.85rem;
  border-bottom: 1px solid rgba(122, 113, 93, 0.18);
}

@media screen and (min-width: 680px) {
  .header {
    justify-content: center;
  }
}


