.recipe-detail {
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
    margin-bottom: 2rem;
}

.recipe-detail__img {
    height: 300px;
    overflow: hidden;
    margin-bottom: 0.5rem;  
}

.recipe-detail__image{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.recipe-detail__text {
    padding: 1rem 
}

.recipe-detail__subtitle {
   
    font-family: 'Sorts Mill Goudy', serif;
}

.recipe-detail__description {
    margin-bottom: 2rem;
}

.recipe-detail__list {
  margin-bottom: 2rem;
  padding-left: 1.2rem;
  list-style-type: disc;
}

.recipe-detail__subtitle {
  margin-top: 1.5rem;
  font-family: 'Sorts Mill Goudy', serif;
}



.recipe-detail__tag {
  background-color: #edf5e1;   /* jemná světle zelená */
  color: #2f5e00;              /* tmavší zeleň pro čitelnost */
  padding: 0.3rem 0.8rem;
  border-radius: 999px;
  font-size: 0.85rem;
  font-weight: 500;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
}


.recipe-detail__list {
  margin-bottom: 2rem;
  padding-left: 1.2rem;
  list-style-type: disc;
}