.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.buttons--suitability {
  gap: 0.5rem;
  justify-content: center;
}

.buttons--suitability .button {
  background-color: var(--button-meaning-bg);
  border-color: var(--button-meaning-border);
  color: var(--button-meaning-text);
}

.buttons--suitability .button:hover,
.buttons--suitability .button--active {
  background-color: var(--button-active-bg);
  border-color: var(--button-active-border);
  color: var(--button-active-text);
}
