@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Sorts+Mill+Goudy:ital@0;1&display=swap');

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; margin: 0; padding: 0; }

html {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(220, 220, 220);
}

h1, h2, h3 {
  font-family:'Amatic SC', cursive;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
  margin-top: 2rem;
  color: #444;
}

.title {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 2.5rem;
  color: #3a3a3a;
}


.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
}

.main {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background-color: #fff;
  padding: 2rem;
}




@media screen and (min-width: 680px) {
  .section--grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .section--grid {
    column-gap: 1rem
  }
 
}
